body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  margin-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

a.popoverAnchor {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted black;
}

a.popoverAnchor:hover {
	text-decoration: none;
}

.greenBackground {
  background-color: lightgreen;
}

.redBackground {
  background-color: lightcoral; 
}

div.loadingOverlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-image: url('/images/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.capitalizeFirstLetter {
  text-transform: ccapitalize;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: darkorange;
}

.darkGrey {
  color: darkslategrey;
}

.sort {
  cursor: move;
}

.pointer {
  cursor: pointer;
}

.vertical-cushion {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-icon {
  padding-right: 5px;
}

.thick-top-border {
  border-top: 2px solid;
}

.table-row-height {
  height: 36px;
}

#propertyListMap .angular-google-map-container {
  height: 260px;
}

#propertyStreetView {
  height: 230px;
}

.bigMap {
  position: relative;
  height: 90%;
  width: 90%;
  margin: 2.5% auto;
}

.bigMap > div {
  height: 100%;
  width: 100%;
}

.streetViewBtn {
  position: absolute;
  top: 3px;
  right: 3px;
}

.bigStreetViewBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.propertyNoImagePanel {
  position: absolute;
  height: 230px;
  top: 0;
  left: 0;
  right: 0;
  border: solid darkgrey 1px;
}

.relative {
  position: relative;
}

.padding-left-15 {
  padding-left: 15px;
}

.flex-container {
  display: flex;
}

.flex-item-right-justified {
  margin-left: auto;
}

.flex-item-vertically-centered {
  align-self: center;
}

.nav-pills > li.squared-corners > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.popupOverlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.get-started {
  margin-left: 10px;
}

.get-started > div {
  float: left;
}

.get-started h4 {
  background-repeat: no-repeat;
  height: 49px;
  padding-top: 11px;
  color: #337ab7;
}
  
.get-started .narrow-box {
  padding: 18px;
  font-size:16px;
}

/* Extra Small screens */
@media (max-width: 768px) {
  .get-started h4 {
    font-size: 32px;
    background-color: #d9edf7;
  }
  
  .get-started h4::before {
    color: black;
  }
}

/* Small screens */
@media (min-width: 768px) and (max-width: 992px) {
  .get-started > div {
    width: 240px;
  }
  
  .get-started > div:last-child {
    width: 220px;
  }
  
  .get-started h4 {
    background-image: url('/images/gettingstarted-sprite-sm.png');
    font-size: 15px;
    font-weight: bold;
  }
  
  .get-started .narrow-box {
    width: 210px;
  }
}

/* Medium screens */
@media (min-width: 992px) and (max-width: 1200px) {
  .get-started > div {
    width: 313px;
  }
  
  .get-started > div:last-child {
    width: 293px;
  }
  
  .get-started h4 {
    background-image: url('/images/gettingstarted-sprite-md.png');
    font-size: 22px;
  }
  
  .get-started .narrow-box {
    width: 280px;
  }
}

/* Large screens */
@media (min-width: 1200px) {
  .get-started > div {
    width: 380px;
  }
  
  .get-started > div:last-child {
    width: 360px;
  }
  
  .get-started h4 {
    background-image: url('/images/gettingstarted-sprite-lg.png');
    padding-top: 9px;
    font-size: 25px;
  }
  
  .get-started .narrow-box {
    width: 350px;
  }
}

.get-started h4::before {
  color: white;
  padding: 20px;
  font-size: 20px;
}

.get-started h4.step1::before {
  content: '1';
}

.get-started h4.step2 {
  background-position: 0 -49px;
}
  
.get-started h4.step2::before {
  content: '2';
}

.get-started h4.step3 {
  background-position: 0 -98px;
}

h4.step3::before {
  content: '3';
}

.horizontal-padding-15 {
  padding: 0 15px;
}

.bottom-align {
  vertical-align: bottom;
}