<div ng-show="vm.loading" class="loadingOverlay"></div>
<form name="vm.accountForm" novalidate ng-submit="vm.accountForm.$dirty && vm.accountForm.$valid && vm.saveUser(vm.user)">
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" id="name" name="name" placeholder="Name" ng-model="vm.user.name" class="form-control" />
	</div>
	<div class="form-group">
		<label for="email">Email Address</label>
		<input type="email" id="email" name="email" placeholder="Email Address" ng-model="vm.user.email" required class="form-control" />
	</div>
	<div ng-show="vm.accountForm.$submitted && vm.accountForm.email.$invalid">
		<div class="alert alert-danger" role="alert" ng-show="vm.accountForm.email.$error.required">Please supply an email address.</div>
		<div class="alert alert-danger" role="alert" ng-show="vm.accountForm.email.$error.email">Supplied email address is invalid.</div>
		<div class="alert alert-danger" role="alert" ng-show="vm.accountForm.email.$error.pcUsername">Supplied email address is already taken.</div>
	</div>
	<div class="form-group">
		<label for="oldPassword">Old Password</label>
		<input type="password" id="oldPassword" name="oldPassword" placeholder="Old Password" ng-model="vm.oldPassword" ng-required="vm.user.newPassword.length > 0" pc-verify-password class="form-control" />
	</div>
	<div ng-show="vm.accountForm.$submitted && vm.accountForm.oldPassword.$invalid">
		<div class="alert alert-danger" role="alert" ng-show="vm.accountForm.oldPassword.$error.required">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			Please supply your old password or leave the new password field blank.
		</div>
		<div class="alert alert-danger" role="alert" ng-show="vm.accountForm.oldPassword.$error.pcVerifyPassword">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			Does not match current password.
		</div>
	</div>
	<div class="form-group">
		<label for="newPassword">New Password</label>
		<input type="password" id="newPassword" name="newPassword" placeholder="New Password" ng-model="vm.user.newPassword" ng-required="vm.oldPassword.length > 0" pc-cannot-match="vm.oldPassword" ng-minlength="6" class="form-control" />
	</div>
	<div ng-show="vm.accountForm.$submitted && vm.accountForm.newPassword.$invalid">
		<div class="alert alert-danger" role="alert" ng-show="vm.accountForm.newPassword.$error.required">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			Please supply a new password or leave the old password field blank.
		</div>
		<div class="alert alert-danger" role="alert" ng-show="vm.accountForm.newPassword.$error.pcCannotMatch">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			New password cannot be the same as the old password.
		</div>
		<div class="alert alert-danger" role="alert" ng-show="vm.accountForm.newPassword.$error.minlength">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			Password must be at least 6 characters.
		</div>
	</div>
	<div class="form-group">
		<label for="confirmPassword">Confirm Password</label>
		<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" ng-model="vm.confirmPassword" ng-required="vm.user.newPassword.length > 0" pc-match="vm.user.newPassword" class="form-control" />
	</div>
	<div ng-show="vm.accountForm.$submitted && vm.accountForm.newPassword.$valid && vm.accountForm.confirmPassword.$invalid">
		<div class="alert alert-danger" role="alert" ng-show="vm.accountForm.confirmPassword.$error.required">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			Please confirm your password.
		</div>
		<div class="alert alert-danger" role="alert" ng-show="!vm.accountForm.confirmPassword.$error.required && vm.accountForm.confirmPassword.$error.pcMatch">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			Password fields do not match.
		</div>
	</div>
	<div class="alert alert-success" role="alert" ng-show="vm.saveSuccessful" ng-init="vm.saveSuccessful = false">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		<span class="sr-only">Success:</span>
		Account saved.
	</div>
	<button type="submit" class="btn btn-success" ng-show="vm.accountForm.$dirty">
		<span class="glyphicon glyphicon-floppy-disk button-icon" aria-hidden="true"></span>
		Save
	</button>
</form>