<div ng-show="vm.loading" class="loadingOverlay"></div>
<form name="vm.buyerProfileForm" novalidate ng-submit="vm.buyerProfileForm.$valid && vm.saveBuyerProfile(vm.buyerProfile)">
	<div class="col-xs-12 col-sm-2">
		<ul class="nav nav-pills nav-stacked">
			<li role="button" ng-repeat="buyerProfile in vm.buyerProfiles" class="squared-corners" ng-class="{'bg-info': $index === vm.selectedBuyerProfileIndex}">
				<a ng-click="vm.selectedBuyerProfileIndex = $index">{{ buyerProfile.name }}</a>
			</li>
			<li role="button" class="squared-corners" ng-show="vm.selectedBuyerProfileIndex > -1">
				<a ng-click="vm.selectedBuyerProfileIndex = -1">
					New
					<span class="glyphicon glyphicon-plus padding-left-15"></span>
				</a>
			</li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-5">
		<div class="form-group">
			<label for="name">
				<a tabindex="-1" class="popoverAnchor" role="button" popover-title="Name" popover="Nickname for the buyer profile." popover-trigger="focus">
					Name
				</a>
			</label>
			<input type="text" id="name" name="name" placeholder="Name" ng-model="vm.buyerProfile.name" required class="form-control" />
		</div>
		<div ng-show="buyerProfileForm.$submitted && buyerProfileForm.name.$invalid">
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.name.$error.required">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Please supply a name.
			</div>
		</div>
		<div class="form-group">
			<label for="rate">
				<a tabindex="-1" class="popoverAnchor" role="button" popover-title="Interest Rate" popover="Interest rate on the loan." popover-trigger="focus">
					Interest Rate
				</a>
			</label>
			<div class="input-group">
				<input type="number" id="interestRate" name="interestRate" placeholder="Interest Rate" ng-model="vm.buyerProfile.interestRate" required class="form-control" />
				<span class="input-group-addon">%</span>
			</div>
		</div>
		<div ng-show="buyerProfileForm.$submitted && buyerProfileForm.interestRate.$invalid">
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.interestRate.$error.required">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Please supply an interest rate.
			</div>
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.interestRate.$error.number">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Supplied interest rate is invalid.
			</div>
		</div>
		<div class="form-group">
			<label for="downPayment">
				<a tabindex="-1" class="popoverAnchor" role="button" popover-title="Down Payment" popover="Down payment amount in dollars." popover-trigger="focus">
					Down Payment
				</a>
			</label>
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input type="number" id="downPayment" name="downPayment" placeholder="Down Payment Amount" ng-model="vm.buyerProfile.downPayment" required class="form-control" />
				<span class="input-group-addon">.00</span>
			</div>
		</div>
		<div ng-show="buyerProfileForm.$submitted && buyerProfileForm.downPayment.$invalid">
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.downPayment.$error.required">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Please supply a down payment amount.
			</div>
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.downPayment.$error.number">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Supplied down payment amount is invalid.
			</div>
		</div>
		<div class="form-group">
			<label for="loanYears">
				<a tabindex="-1" class="popoverAnchor" role="button" popover-title="Loan Term" popover="Term of the loan in years." popover-trigger="focus">
					Loan Term
				</a>
			</label>
			<input type="number" id="loanYears" name="loanYears" placeholder="Loan Term (years)" ng-model="vm.buyerProfile.loanYears" required class="form-control" />
		</div>
		<div ng-show="buyerProfileForm.$submitted && buyerProfileForm.loanYears.$invalid">
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.loanYears.$error.required">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Please supply a loan term.
			</div>
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.loanYears.$error.number">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Supplied loan term is invalid.
			</div>
		</div>
		<div class="form-group">
			<label for="propertyTaxIncrease">
				<a tabindex="-1" class="popoverAnchor" role="button" popover-title="Property Tax Increase" popover="Estimated increase in property tax rate from the previous year." popover-trigger="focus">
					Property Tax Increase
				</a>
			</label>
			<div class="input-group">
				<input type="number" id="propertyTaxIncrease" name="propertyTaxIncrease" placeholder="Estimated Increase in Property Tax" ng-model="vm.buyerProfile.propertyTaxIncrease" required class="form-control" />
				<span class="input-group-addon">%</span>
			</div>
		</div>
		<div ng-show="buyerProfileForm.$submitted && buyerProfileForm.propertyTaxIncrease.$invalid">
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.propertyTaxIncrease.$error.required">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Please supply an estimate.
			</div>
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.propertyTaxIncrease.$error.number">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Supplied estimate is invalid.
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-5">
		<div class="form-group">
			<label for="salesDiscout">
				<a tabindex="-1" class="popoverAnchor" role="button" popover-title="Sales Discount" popover="Estimated sales discount given off the list price. Used to calculate the purchase price of the home." popover-trigger="focus">
					Sales Discount
				</a>
			</label>
			<div class="input-group">
				<input type="number" id="salesDiscount" name="salesDiscount" placeholder="Estimated Sales Discount" ng-model="vm.buyerProfile.salesDiscount" required class="form-control" />
				<span class="input-group-addon">%</span>
			</div>
		</div>
		<div ng-show="buyerProfileForm.$submitted && buyerProfileForm.salesDiscount.$invalid">
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.salesDiscount.$error.required">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Please supply an estimate.
			</div>
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.salesDiscount.$error.number">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Supplied estimate is invalid.
			</div>
		</div>
		<div class="form-group">
			<label for="pmiRate">
				<a tabindex="-1" class="popoverAnchor" role="button" popover-title="PMI Rate" popover="Private mortgage insurance rate. Private mortgage insurance (PMI) is generally required when the down payment is less than 20% of the sales price, and is paid monthly until the homeowner accrues equity equaling 20% of the sales price." popover-trigger="focus">
					PMI Rate
				</a>
			</label>
			<div class="input-group">
				<input type="number" id="pmiRate" name="pmiRate" placeholder="PMI Rate" ng-model="vm.buyerProfile.pmiRate" required class="form-control" />
				<span class="input-group-addon">%</span>
			</div>
		</div>
		<div ng-show="buyerProfileForm.$submitted && buyerProfileForm.pmiRate.$invalid">
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.pmiRate.$error.required">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Please supply a PMI rate.
			</div>
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.pmiRate.$error.number">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Supplied PMI rate is invalid.
			</div>
		</div>
		<div class="form-group">
			<label for="yearlyHomeownersInsurance">
				<a tabindex="-1" class="popoverAnchor" role="button" popover-title="Homeowner's Insurance" popover="Yearly estimated homeowner's insurance expense." popover-trigger="focus">
					Homeowner's Insurance
				</a>
			</label>
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input type="number" id="yearlyHomeownersInsurance" name="yearlyHomeownersInsurance" placeholder="Homeowners Insurance (yearly)" ng-model="vm.buyerProfile.yearlyHomeownersInsurance" required class="form-control" />
				<span class="input-group-addon">.00</span>
			</div>
		</div>
		<div ng-show="buyerProfileForm.$submitted && buyerProfileForm.yearlyHomeownersInsurance.$invalid">
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.yearlyHomeownersInsurance.$error.required">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Please supply a yearly homeowner's insurance amount.
			</div>
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.yearlyHomeownersInsurance.$error.number">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Supplied yearly homeowner's insurance amount is invalid.
			</div>
		</div>
		<div class="form-group">
			<label for="grossYearlyIncome">
				<a tabindex="-1" class="popoverAnchor" role="button" popover-title="Gross Income" popover="Yearly gross income." popover-trigger="focus">
					Gross Income
				</a>
			</label>
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input type="number" id="grossYearlyIncome" name="grossYearlyIncome" placeholder="Gross Income (yearly)" ng-model="vm.buyerProfile.grossYearlyIncome" required class="form-control" />
				<span class="input-group-addon">.00</span>
			</div>
		</div>
		<div ng-show="buyerProfileForm.$submitted && buyerProfileForm.grossYearlyIncome.$invalid">
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.grossYearlyIncome.$error.required">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Please supply a gross income amount.
			</div>
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.grossYearlyIncome.$error.number">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Supplied gross income amount is invalid.
			</div>
		</div>
		<div class="form-group">
			<label for="monthlyPaymentIncomeRatio">
				<a tabindex="-1" class="popoverAnchor" role="button" popover-title="Monthly Income Ratio" popover="Desired percentage of monthly gross income spent on home-related expenses." popover-trigger="focus">
					Monthly Income Ratio
				</a>
			</label>
			<div class="input-group">
				<input type="number" id="monthlyPaymentIncomeRatio" name="monthlyPaymentIncomeRatio" placeholder="Desired Monthly Payment/Gross Income Ratio" ng-model="vm.buyerProfile.monthlyPaymentIncomeRatio" required class="form-control" />
				<span class="input-group-addon">%</span>
			</div>
		</div>
		<div ng-show="buyerProfileForm.$submitted && buyerProfileForm.monthlyPaymentIncomeRatio.$invalid">
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.monthlyPaymentIncomeRatio.$error.required">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Please supply a ratio.
			</div>
			<div class="alert alert-danger" role="alert" ng-show="buyerProfileForm.monthlyPaymentIncomeRatio.$error.number">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				Supplied ratio is invalid.
			</div>
		</div>
		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="active" ng-model="vm.buyerProfile.active">
					<a tabindex="0" class="popoverAnchor" role="button" popover-title="Active" popover="Whether this buyer profile is to be used in all of this user's property calculations. Only one active buyer profile is allowed per user." popover-trigger="focus">
						Active
					</a>
				</label>
			</div>
		</div>
	</div>
	<div class="container-fluid col-xs-10 col-xs-offset-2">
		<div class="alert alert-success" role="alert" ng-show="vm.saveSuccessful">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<span class="sr-only">Success:</span>
			Buyer profile saved.
		</div>
		<div class="alert alert-danger" role="alert" ng-show="vm.saveUnsuccessful">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			Buyer profile not saved: {{ vm.saveErrorMessage }}
		</div>
	</div>
	<div class="col-xs-12 col-sm-10 col-sm-offset-2">
		<button type="button" class="btn btn-danger pull-left" ng-click="vm.deleteBuyerProfile(vm.buyerProfile)" ng-show="vm.buyerProfile._id !== undefined">
			<span class="glyphicon glyphicon-trash button-icon" aria-hidden="true"></span>
			Delete
		</button>
		<button type="submit" class="btn btn-success pull-right" ng-show="vm.buyerProfileForm.$dirty">
			<span class="glyphicon glyphicon-floppy-disk button-icon" aria-hidden="true"></span>
			Save
		</button>
	</div>
</form>