<div class="modal-header">
	<h4 class="modal-title">Confirm Delete <span style="text-transform:capitalize;">{{ vm.recordType }}</span></h4>
</div>
<div class="modal-body">
	<div>Are you sure you want to delete the {{ vm.recordType }} <span style="font-weight:bold;">{{ vm.recordName }}</span> ?</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default pull-left" ng-click="vm.cancel()">Cancel</button>
	<button type="button" class="btn btn-danger pull-right" ng-click="vm.confirm()">Delete</button>
</div>