<div ng-show="vm.loading" class="loadingOverlay"></div>
<form name="vm.loginForm" novalidate ng-submit="vm.loginForm.$valid && vm.login(vm.credentials)">
	<div class="modal-header">
		<h4 class="modal-title" id="loginModalLabel">Log In</h4>
	</div>
	<div class="modal-body">
		<div>
			<div class="form-group">
				<div class="btn-group" role="group" aria-label="..." ng-init="vm.loginType='login'">
					<button type="button" class="btn btn-default" ng-class="{signup:'active'}[vm.loginType]" ng-click="vm.loginType='signup'">Sign Up</button>
					<button type="button" class="btn btn-default" ng-class="{login:'active'}[vm.loginType]" ng-click="vm.loginType='login'">Log In</button>
				</div>
			</div>
			<div class="form-group">
				<label for="email">Email Address</label>
				<input type="email" id="email" name="email" placeholder="Email Address" ng-model="vm.credentials.email" required pc-username="vm.loginType==='signup'" ng-model-options="{updateOn:'blur'}" class="form-control" />
			</div>
			<div ng-show="vm.loginForm.$submitted && vm.loginForm.email.$error">
				<div class="alert alert-danger" role="alert" ng-show="vm.loginForm.email.$error.required">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Please supply an email address.
				</div>
				<div class="alert alert-danger" role="alert" ng-show="vm.loginForm.email.$error.email">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Supplied email address is invalid.
				</div>
				<div class="alert alert-danger" role="alert" ng-show="vm.loginForm.email.$error.pcUsername">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Supplied email address is already taken.
				</div>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Password" ng-model="vm.credentials.password" required ng-minlength="6" ng-model-options="{updateOn:'blur'}" class="form-control" />
			</div>
			<div ng-show="vm.loginForm.$submitted && vm.loginForm.password.$error">
				<div class="alert alert-danger" role="alert" ng-show="vm.loginForm.password.$error.required">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Please supply a password.
				</div>
				<div class="alert alert-danger" role="alert" ng-show="vm.loginForm.password.$error.minlength">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Password must be at least 6 characters.
				</div>
			</div>
			<div class="form-group" ng-show="vm.loginType==='signup'">
				<label for="confirmPassword">Confirm Password</label>
				<input type="password" name="confirmPassword" placeholder="Confirm Password" ng-model="vm.credentials.confirmPassword" ng-required="vm.loginType==='signup'" pc-match="vm.credentials.password" ng-model-options="{updateOn:'blur'}" class="form-control" />
			</div>
			<div ng-show="vm.loginForm.$submitted && vm.loginForm.password.$valid && vm.loginForm.confirmPassword.$error">
				<div class="alert alert-danger" role="alert" ng-show="vm.loginForm.confirmPassword.$error.required">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Please confirm your password.
				</div>
				<div class="alert alert-danger" role="alert" ng-show="vm.loginForm.confirmPassword.$error.pcMatch">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Password fields do not match.
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label><input type="checkbox" ng-model="vm.credentials.rememberMe" ng-init="vm.credentials.rememberMe=true">Remember Me?</label>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-default">Submit</button>
	</div>
	</form>