<div ng-show="vm.loading" class="loadingOverlay"></div>
<div class="modal-header">
	<h4 class="modal-title" id="logoutModalLabel">Log Out</h4>
</div>
<div class="modal-body">
	<div>Are you sure you want to log out?</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="vm.logout()">Log Out</button>
</div>