<div class="jumbotron">
  <h1>Welcome to payment cruncher!</h1>
  <p class="lead">
    <!--<img src="images/payment-cruncher.png" alt=""><br>-->
    Your one-stop shop for comparing real estate properties.
  </p>
</div>

<div class="text-center h1 vertical-cushion">
  <span class="glyphicon glyphicon-cog text-muted bottom-align"></span>
  <strong class="horizontal-padding-15"><em>Get Started</em></strong>
  <span class="glyphicon glyphicon-cog text-muted bottom-align"></span>
</div>
<div class="get-started">
  <div>
    <h4 class="step1">
      <a href="" ng-click="vm.openLoginModal()" ng-show="vm.loggedInUser === undefined">Sign up</a>
      {{ vm.loggedInUser !== undefined ? "Sign up" : "" }}
    </h4>
    <div class="narrow-box">
      With your payment cruncher account, you'll be able to keep track of and compare all of your favorite properties as you find them.
    </div>
  </div>

  <div>
    <h4 class="step2">
      <a href="#/buyerProfile" ng-show="vm.loggedInUser !== undefined">Create a buyer profile</a>
      {{ vm.loggedInUser === undefined ? "Create a buyer profile" : "" }}
    </h4>
    <div class="narrow-box">
      Your buyer profile contains general financial information about you, like your income, interest rate, down payment, and other numbers we use in our calculations.
    </div>
  </div>

  <div>
    <h4 class="step3">
      <a href="#/property" ng-show="vm.loggedInUser !== undefined && vm.loggedInUser.buyerProfiles !== undefined">Crunch like crazy!</a>
      {{ vm.loggedInUser === undefined || vm.loggedInUser.buyerProfiles === undefined ? "Crunch like crazy!" : "" }}
    </h4>
    <div class="narrow-box">
      Add properties you would like to compare, and let us do the work! We will give you all the tools you'll need to make an informed financial decision.
    </div>
  </div>
</div>