<nav class="navbar navbar-default">
	<div class="container container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-nav" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">payment cruncher</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="collapsed-nav">
			<ul class="nav navbar-nav navbar-right">
				<li ng-show="vm.loggedInUser !== undefined && vm.loggedInUser.buyerProfiles.length > 0">
					<a href="#/property">
						<span class="glyphicon glyphicon-home hidden-xs" uib-tooltip="Properties" tooltip-placement="bottom"></span>
						<span class="visible-xs">Properties</span>
					</a>
				</li>
				<li ng-show="vm.loggedInUser !== undefined">
					<a href="#/buyerProfile">
						<span class="glyphicon glyphicon-usd hidden-xs" uib-tooltip="Buyer Profile" tooltip-placement="bottom"></span>
						<span class="visible-xs">Buyer Profile</span>
					</a>
				</li>
				<li ng-show="vm.loggedInUser === undefined"><a data-toggle="modal" role="button" ng-click="vm.openLoginModal()">Log In</a></li>
				<li class="dropdown" ng-show="vm.loggedInUser !== undefined">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-user hidden-xs" uib-tooltip="Account" tooltip-placement="bottom"></span>
						<span class="visible-xs">Account</span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#/account">My Account</a></li>
						<li><a data-toggle="modal" role="button" ng-click="vm.openLogoutModal()">Log Out</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>