<div ng-show="vm.loading" class="loadingOverlay"></div>
<div class="popupOverlay" ng-show="vm.bigPropertyStreetViewShown || vm.bigPropertyListMapShown">
  <div class="bigMap">
    <div id="bigPropertyStreetView"></div>
    <a class="btn btn-default bigStreetViewBtn" ng-show="vm.bigPropertyStreetViewShown" ng-click="vm.bigPropertyStreetViewShown = false" href="" role="button">
      <span class="glyphicon glyphicon-resize-small"></span>
    </a>
  </div>
</div>
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading flex-container">
      <div class="flex-item-vertically-centered">
          Properties
          <span class="glyphicon glyphicon-plus padding-left-15" role="button" ng-click="vm.setSelectedPropertyIndex()" ng-hide="vm.selectedPropertyIndex === -1" aria-label="New Property"></span>
      </div>
      <div class="flex-item-right-justified" ng-show="vm.properties.length > 0">
        <button class="btn btn-default " ng-click="vm.propertyListMapShown = true" ng-hide="vm.propertyListMapShown">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <span class="hidden-xs">Show Map</span>
        </button>
        <button class="btn btn-default" ng-click="vm.propertyListMapShown = false" ng-show="vm.propertyListMapShown">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          <span class="hidden-xs">Hide Map</span>
        </button>
      </div>
    </div>
    <div class="relative">
      <ui-gmap-google-map id="propertyListMap" center="vm.map.center" zoom="vm.map.zoom" options="{streetViewControl:false}" ng-show="vm.propertyListMapShown">
        <ui-gmap-marker ng-repeat="property in vm.properties | orderBy:'sortOrder' track by property._id" idKey="property._id" coords="property.location.coordinates" click="vm.setSelectedPropertyIndex($index)">
          <ui-gmap-window show="property._id === vm.property._id">
            <div>
              <b>{{ property.name }}</b><br />
              {{ property.address }}<br />
              {{ property.city }}, {{ property.state }} {{ property.zip }}
            </div>
          </ui-gmap-window>
        </ui-gmap-marker>  
      </ui-gmap-google-map>
    </div>
    <table class="table" ng-init="vm.setSelectedPropertyIndex()">
      <tr ng-show="vm.properties.length > 0">
        <th></th>
        <th>Name</th>
        <th class="text-center hidden-xs">City</th>
        <th class="text-center">Monthly Payment</th>
        <th class="text-center">Gross Income %</th>
        <th class="hidden-xs">Notes</th>
      </tr>
      <tr ng-show="vm.properties === undefined || vm.properties.length === 0"><td colspan="4">No properties have been added yet!</td></tr>
      <tbody ui-sortable="vm.sortableOptions">
        <tr id="{{ property._id }}" ng-repeat="property in vm.properties | orderBy:'sortOrder' track by property._id" ng-click="vm.setSelectedPropertyIndex($index)" class="pointer" ng-class="{ 'bg-info': $index === vm.selectedPropertyIndex }">
          <td><span class="glyphicon glyphicon-menu-hamburger sort"></span></td>
          <td>{{ property.name }}</td>
          <td class="text-center hidden-xs">{{ property.city }}</td>
          <td class="text-center">{{ property.totalMonthlyPayment | currency }}</td>
          <td class="text-center">
            <span class="glyphicon glyphicon-thumbs-up green" uib-tooltip="{{ 'Yay! The projected monthly payment is AT OR LESS than ' + vm.buyerProfile.monthlyPaymentIncomeRatio + '% of your monthly gross income.' }}" ng-show="(property.grossIncomePercentage | number : 2) <= vm.buyerProfile.monthlyPaymentIncomeRatio" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-hand-right orange" uib-tooltip="{{ 'OK... The projected monthly payment is PRETTY CLOSE to ' + vm.buyerProfile.monthlyPaymentIncomeRatio + '% of your monthly gross income.' }}" ng-show="(property.grossIncomePercentage | number : 2) > vm.buyerProfile.monthlyPaymentIncomeRatio && (property.grossIncomePercentage | number : 2) - vm.buyerProfile.monthlyPaymentIncomeRatio < 1" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-thumbs-down red" uib-tooltip="{{ 'Hmmm... The projected monthly payment is MORE than ' + vm.buyerProfile.monthlyPaymentIncomeRatio + '% of your monthly gross income.' }}" ng-show="(property.grossIncomePercentage | number : 2) > vm.buyerProfile.monthlyPaymentIncomeRatio && (property.grossIncomePercentage | number : 2) - vm.buyerProfile.monthlyPaymentIncomeRatio >= 1" aria-hidden="true"></span>
            <span>{{ property.grossIncomePercentage | number : 2 }}%</span>
          </td>
          <td class="hidden-xs">{{ property.notes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-xs-12">
  <uib-tabset>
    <uib-tab heading="Pre-Crunch" active="vm.initializeTabs">
      <form name="vm.propertyForm" novalidate ng-submit="vm.propertyForm.$dirty && vm.propertyForm.$valid && vm.standardizeAddress(vm.property)">
        <div class="vertical-cushion" ng-init="vm.property = {}">
          <div class="col-xs-12 col-sm-4">
            <a class="btn btn-default" ng-show="vm.property.listingUrl !== undefined" href="{{vm.property.listingUrl}}" target="_blank">
              <span class="glyphicon glyphicon-new-window button-icon"></span>
              Check Listing
            </a>
            <input type="url" ng-show="vm.property.listingUrl === undefined" class="form-control" placeholder="Listing URL" id="listingUrl" name="listingUrl" ng-model="vm.property.listingUrl" ng-model-options="{updateOn: 'blur'}">
            <div class="relative vertical-cushion">
              <div id="propertyStreetView"></div>
              <button class="btn btn-default streetViewBtn" ng-click="vm.bigPropertyStreetViewShown = true">
                <span class="glyphicon glyphicon-resize-full"></span>
              </button>
              <div class="jumbotron propertyNoImagePanel" ng-show="vm.property.location.streetView === undefined"><h2>No image</h2></div>
            </div>
          </div>        
          <div class="col-xs-12 col-sm-4">
            <div class="form-group col-xs-12">
              <label for="name">
                <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Name" uib-popover="Nickname for the property." popover-trigger="focus">
                  Name
                </a>
              </label>
              <input type="text" id="name" name="name" placeholder="Name" ng-model="vm.property.name" required class="form-control" />
            </div>
            <div class="col-xs-12" ng-show="vm.propertyForm.$submitted && vm.propertyForm.name.$invalid">
              <div class="alert alert-danger" role="alert" ng-show="vm.propertyForm.name.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Please supply a name.
              </div>
            </div>
            <div class="form-group col-xs-12">
              <label for="address">
                <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Address" uib-popover="Property street address." popover-trigger="focus">
                  Address
                </a>
              </label>
              <input type="text" id="address" name="address" placeholder="Address" ng-model="vm.property.address" required class="form-control" />
            </div>
            <div class="col-xs-12" ng-show="vm.propertyForm.$submitted && vm.propertyForm.address.$invalid">
              <div class="alert alert-danger" role="alert" ng-show="vm.propertyForm.address.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Please supply an address.
              </div>
            </div>
            <div>
              <div class="form-group col-xs-12 col-sm-8">
                <label for="city">
                  <a tabindex="-1" class="popoverAnchor" role="button" popover-title="City" uib-popover="Property city." popover-trigger="focus">
                    City
                  </a>
                </label>
                <input type="text" id="city" name="city" placeholder="City" ng-model="vm.property.city" required class="form-control" />
              </div>
              <div class="form-group col-xs-12 col-sm-4">
                <label for="state">
                  <a tabindex="-1" class="popoverAnchor" role="button" popover-title="State" uib-popover="Property state." popover-trigger="focus">
                    State
                  </a>
                </label>
                <select id="state" name="state" class="selectpicker form-control" ng-model="vm.property.state" required>
                  <option>AK</option>
                  <option>AL</option>
                  <option>AR</option>
                  <option>AZ</option>
                  <option>CA</option>
                  <option>CO</option>
                  <option>CT</option>
                  <option>DE</option>
                  <option>FL</option>
                  <option>GA</option>
                  <option>HI</option>
                  <option>IA</option>
                  <option>ID</option>
                  <option>IL</option>
                  <option>IN</option>
                  <option>KS</option>
                  <option>KY</option>
                  <option>LA</option>
                  <option>MA</option>
                  <option>MD</option>
                  <option>ME</option>
                  <option>MI</option>
                  <option>MN</option>
                  <option>MO</option>
                  <option>MS</option>
                  <option>MT</option>
                  <option>NC</option>
                  <option>ND</option>
                  <option>NE</option>
                  <option>NH</option>
                  <option>NJ</option>
                  <option>NM</option>
                  <option>NV</option>
                  <option>NY</option>
                  <option>OH</option>
                  <option>OK</option>
                  <option>OR</option>
                  <option>PA</option>
                  <option>RI</option>
                  <option>SC</option>
                  <option>SD</option>
                  <option>TN</option>
                  <option>TX</option>
                  <option>UT</option>
                  <option>VA</option>
                  <option>VT</option>
                  <option>WA</option>
                  <option>WI</option>
                  <option>WV</option>
                  <option>WY</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12" ng-show="vm.propertyForm.$submitted && (vm.propertyForm.city.$invalid ||  vm.propertyForm.state.$invalid || vm.propertyForm.zip.$invalid)">
              <div class="alert alert-danger" role="alert" ng-show="vm.propertyForm.city.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Please supply a city.
              </div>
              <div class="alert alert-danger" role="alert" ng-show="vm.propertyForm.state.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Please supply a state.
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="form-group col-xs-12" ng-init="vm.property.purchasePrice > 0 ? vm.showPurchasePrice = true : vm.showPurchasePrice = false">
              <label for="listPurchasePrice">
                <a tabindex="-1" class="popoverAnchor" ng-hide="vm.showPurchasePrice" role="button" popover-title="List Price" uib-popover="Price that the property is listed for on the market." popover-trigger="focus">
                  List Price
                </a>
                <a tabindex="-1" class="popoverAnchor" ng-show="vm.showPurchasePrice" role="button" popover-title="Purchase Price" uib-popover="Price that the buyer will pay for the property. If supplied, we will use this value in our calculations rather than taking the buyer profile specified discount off of the list price." popover-trigger="focus">
                  Purchase Price
                </a>
              </label>
              <a href="" class="pull-right hidden-xs hidden-sm" ng-click="vm.showPurchasePrice = !vm.showPurchasePrice; !vm.showPurchasePrice ? vm.property.purchasePrice = '' : ''">
                {{ vm.showPurchasePrice ? "Use list price?" : "Set purchase price?" }}
              </a>
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" id="listPrice" name="listPurchasePrice" ng-hide="vm.showPurchasePrice" placeholder="List Price" ng-model="vm.property.listPrice" ng-required="!vm.showPurchasePrice" class="form-control" />
                <input type="number" id="purchasePrice" name="purchasePrice" ng-show="vm.showPurchasePrice" placeholder="Purchase Price" ng-model="vm.property.purchasePrice" ng-required="vm.showPurchasePrice" class="form-control" />
                <span class="input-group-addon">.00</span>
              </div>
            </div>
            <div class="col-xs-12" ng-show="vm.propertyForm.$submitted && (vm.propertyForm.listPrice.$invalid || vm.propertyForm.purchasePrice.$invalid)">
              <div class="alert alert-danger" role="alert" ng-show="vm.propertyForm.listPrice.$error.required || vm.propertyForm.listPrice.$error.number">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Please supply a valid list price.
              </div>
              <div class="alert alert-danger" role="alert" ng-show="vm.propertyForm.purchasePrice.$error.required || vm.propertyForm.purchasePrice.$error.number">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Please supply a valid purchase price.
              </div>
            </div>
            <div class="form-group col-xs-12">
              <label for="propertyTax">
                <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Property Tax" uib-popover="Yearly property tax expense associated with this property." popover-trigger="focus">
                  Property Tax
                </a>
              </label>
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" id="propertyTax" name="propertyTax" placeholder="Property Tax" ng-model="vm.property.propertyTax" required class="form-control" />
                <span class="input-group-addon">.00</span>
              </div>
            </div>
            <div class="col-xs-12" ng-show="vm.propertyForm.$submitted && vm.propertyForm.propertyTax.$invalid">
              <div class="alert alert-danger" role="alert" ng-show="vm.propertyForm.propertyTax.$error.required || vm.propertyForm.propertyTax.$error.number">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Please supply a valid property tax amount.
              </div>
            </div>
            <div class="form-group col-xs-12">
              <label for="miscMonthlyExpenses">
                <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Misc. Expenses" uib-popover="Any miscellaneous monthly expenses associated with this property, like flood insurance, association fees, etc." popover-trigger="focus">
                  Misc. Expenses
                </a>
              </label>
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" id="miscMonthlyExpenses" name="miscMonthlyExpenses" placeholder="Misc. Expenses" ng-model="vm.property.miscMonthlyExpenses" class="form-control" />
                <span class="input-group-addon">.00</span>
              </div>
            </div>
            <div class="col-xs-12" ng-show="vm.propertyForm.$submitted && vm.propertyForm.miscMonthlyExpenses.$invalid">
              <div class="alert alert-danger" role="alert" ng-show="vm.propertyForm.miscMonthlyExpenses.$error.number">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Please supply a valid expense amount, or leave field blank.
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="form-group col-xs-12">
              <label for="notes">
                <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Notes" uib-popover="Any notes about the property for your reference." popover-trigger="focus">
                  Notes
                </a>
              </label>
              <input type="text" id="notes" name="notes" placeholder="Notes" ng-model="vm.property.notes" class="form-control" />
            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-12 vertical-cushion">
              <div class="alert alert-success" role="alert" ng-show="vm.saveSuccessful">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span class="sr-only">Success:</span>
                Property saved.
              </div>
              <div class="alert alert-danger" role="alert" ng-show="vm.saveUnsuccessful">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Property not saved: {{ vm.saveErrorMessage }}
              </div>
              <button type="button" class="btn btn-danger pull-left" ng-click="vm.deleteProperty(vm.property)" ng-show="vm.property._id !== undefined">
                <span class="glyphicon glyphicon-trash button-icon" aria-hidden="true"></span>
                Delete</button>
              <button type="submit" class="btn btn-success pull-right" ng-show="vm.propertyForm.$dirty">
                <span class="glyphicon glyphicon-floppy-disk button-icon" aria-hidden="true"></span>
                Save
              </button>
            </div>
          </div>
        </div>
      </form>
    </uib-tab>
    <uib-tab heading="Post-Crunch" disable="!vm.property.totalMonthlyPayment" select="vm.initializeTabs = false">
      <div class="vertical-cushion" ng-hide="vm.showAmortizationSchedule">
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <table class="table">
                  <tr>
                    <td>
                      <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Sales Price" uib-popover="Estimated sales price of the property. Calculated by applying the sales discount specified in the buyer profile to the property list price, or the property purchase price if supplied." popover-trigger="focus">
                        Sales Price
                      </a>
                    </td>
                    <td>{{ vm.property.salesPrice | currency : '$' : 0 }}</td>
                  </tr>
                  <tr>
                    <td>
                      <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Down Payment %" uib-popover="Percentage of sales price paid in the down payment." popover-trigger="focus">
                        Down Payment %
                      </a>
                    </td>
                    <td>{{ vm.property.downPaymentPercentage | number : 2 }}%</td>
                  </tr>
                  <tr>
                    <td>
                      <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Loan Amount" uib-popover="Amount of the loan that will needed after down payment is made." popover-trigger="focus">
                        Loan Amount
                      </a>
                    </td>
                    <td>{{ vm.property.loanAmount | currency : '$' : 0 }}</td>
                  </tr>
                  <tr>
                    <td>
                      <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Yearly Property Taxes" uib-popover="The estimated property tax amount to be assessed in the next year. Calculated by applying the estimated property tax increase specified in the buyer profile to the property tax amount." popover-trigger="focus">
                        Yearly Property Taxes
                      </a>
                    </td>
                    <td>{{ vm.property.estimatedYearlyPropertyTax | currency }}</td>
                  </tr>
                  <tr>
                    <td>
                      <a tabindex="-1" class="popoverAnchor" role="button" popover-title="True Tax %" uib-popover="The percentage of the property sales price paid in yearly property taxes." popover-trigger="focus">
                        True Tax %
                      </a>
                    </td>
                    <td>{{ vm.property.trueTaxPercentage | number : 2 }}%</td>
                  </tr>
                  <tr>
                    <td>
                      <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Mortgage %" uib-popover="The percentage of the monthly payment made up of mortgage principal and interest." popover-trigger="focus">
                        Mortgage %
                      </a>
                    </td>
                    <td>{{ vm.property.mortgagePercentage | number : 2 }}%</td>
                  </tr>
                </table>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading table-row-height">Monthly Payment</div>
                <table class="table">
                  <tr>
                    <td>
                      <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Monthly Mortgage" uib-popover="The mortgage amount in principal and interest to be paid each month." popover-trigger="focus">
                        Mortgage
                      </a>
                    </td>
                    <td>{{ vm.property.monthlyMortgage | currency }}</td>
                  </tr>
                  <tr>
                    <td>
                      <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Monthly Taxes" uib-popover="The amount in property taxes to be paid each month." popover-trigger="focus">
                        Taxes
                      </a>
                    </td>
                    <td>{{ vm.property.monthlyTaxes | currency }}</td>
                  </tr>
                  <tr>
                    <td>
                      <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Monthly Homeowner's Insurance" uib-popover="The amount in homeowner's insurance premiums to be paid each month. This number is purely based off of the yearly estimate specified in the buyer profile and therefore does not vary by property." popover-trigger="focus">
                        Homeowner's Insurance
                      </a>
                    </td>
                    <td>{{ vm.property.monthlyHomeownersInsurance | currency }}</td>
                  </tr>
                  <tr ng-show="vm.property.pmi">
                    <td>
                      <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Monthly PMI" uib-popover="The amount in private mortgage insurance (PMI) premiums to be paid each month. This amount will only be paid until the buyer accummulates 20% of the sales price in equity." popover-trigger="focus">
                        PMI
                      </a>
                    </td>
                    <td>{{ vm.property.pmi.monthlyPmi | currency }}</td>
                  </tr>
                  <tr ng-show="vm.property.miscMonthlyExpenses">
                    <td>
                      <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Misc. Monthly Expenses" uib-popover="The amount of miscellaneous monthly expenses associated with this property, e.g. flood insurance, homeowner's association fees, etc." popover-trigger="focus">
                        Misc. Expenses
                      </a>
                    </td>
                    <td>{{ vm.property.miscMonthlyExpenses | currency }}</td>
                  </tr>
                  <tr class="thick-top-border">
                    <td>
                      <a tabindex="-1" class="popoverAnchor" role="button" popover-title="Total Monthly Payment" uib-popover="The total amount to be paid each month." popover-trigger="focus">
                        Total Payment
                      </a>
                    </td>
                    <td>{{ vm.property.totalMonthlyPayment | currency }}</td>
                  </tr>
                </table>
              </div>
              <button type="button" class="btn btn-primary pull-right" ng-click="vm.getAmortizationSchedule(vm.property)">
                Amortization Schedule
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              </button>
            </div>
        </div>
      </div>
      <div class="vertical-cushion" ng-show="vm.showAmortizationSchedule">
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary pull-left" ng-click="vm.showAmortizationSchedule = false">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Back to numbers
          </button>
        </div>
        <div class="col-xs-12 vertical-cushion">
          <div class="panel panel-default">
            <div class="panel-heading">Amortization Schedule</div>
            <table class="table">
              <tr>
                <th class="text-center">Payment</th>
                <th class="text-center">Principal</th>
                <th class="text-center">Interest</th>
                <th class="text-center">Taxes</th>
                <th class="text-center">Insurance</th>
                <th class="text-center" ng-show="vm.property.pmi">PMI</th>
                <th class="text-center">Payment</th>
                <th class="text-center">Accum. Equity</th>
              </tr>
              <tr ng-repeat="payment in vm.property.amortizationSchedule.payments" ng-mouseenter="vm.amortizationScheduleHoverRow = payment.paymentNumber" ng-mouseleave="vm.amortizationScheduleHoverRow = null" ng-class="{ 'bg-info': vm.amortizationScheduleHoverRow === payment.paymentNumber }">
                <td class="text-center">{{ payment.paymentNumber }}</td>
                <td class="text-center">{{ payment.principalPayment | currency }}</td>
                <td class="text-center">{{ payment.interestPayment | currency }}</td>
                <td class="text-center">{{ payment.taxPayment | currency }}</td>
                <td class="text-center">{{ payment.homeOwnersInsurancePayment | currency }}</td>
                <td class="text-center" ng-show="vm.property.pmi">{{ payment.pmiPayment | currency }}</td>
                <td class="text-center">{{ payment.totalPayment | currency }}</td>
                <td class="text-center">{{ payment.totalEquity | currency }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>

<div class="hidden">
  <pre>
    Selected Property Index: {{ vm.selectedPropertyIndex }}
  </pre>
  <pre>
    Property: {{ vm.property | json }}
  </pre>
  <pre>
    Properties: {{ vm.properties | json }}
  </pre>
  <pre>
    Buyer Profile: {{ vm.buyerProfile | json }}
  </pre>
</div>