<div class="modal-header">
  <h4 class="modal-title">Standardize Address</h4>
</div>
<div class="modal-body">
  <div ng-show="vm.isValidAddress">
    <p>We recommend using the standardized format of your address:</p>
    <div>
      {{ vm.standardizedAddress }}<br />
      {{ vm.standardizedCity }}, {{ vm.standardizedState }}
    </div>
  </div>
  <div ng-hide="vm.isValidAddress">
    We weren't able to verify the address you supplied. If you continue, we may have trouble mapping this property.
  </div>
</div>
<div class="modal-footer">
  <div ng-show="vm.isValidAddress">
    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="vm.useOriginalAddress()">No thanks</button>
    <button type="button" class="btn btn-success pull-right" data-dismiss="modal" ng-click="vm.useStandardizedAddress()">OK</button>
  </div>
  <div ng-hide="vm.isValidAddress">
    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="vm.useStandardizedAddress()">Continue anyway</button>
    <button type="button" class="btn btn-success pull-right" data-dismiss="modal" ng-click="vm.closeModal()">Correct my address</button>
  </div>
</div>